.container{
  .row{
    display:flex;
    justify-content: space-between;
    align-items: center;

    .column{
      text-align: center;
      min-width: 25%;
      border:1px solid grey;
    }
  }
  .header{
    background:lightgray;
  }
}
